@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply
    bg-gray-200 /*TODO Remove*/
    p-3
}

.textInputsShort{
    @apply
    w-40
    rounded
    pl-2
    outline
    outline-2
    outline-slate-800
    block
    mt-4
}
.textInputsShort:last-child{
    @apply
    mb-2
}

.exerciseContainer{
    @apply
    p-2
    mb-3
    shadow-md
    rounded
    bg-gray-400

}

.overlay{
    position: absolute;
    max-width: 400px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    z-index: 999;
    background-color: #fff;
}

.listQuery{
    @apply
   block;
}

input{
    @apply
    rounded
    pl-1
    w-20
}

.pageTitle{
    @apply
    text-2xl
    drop-shadow-sm
    font-semibold
    /*TODO Change font family*/
}

.exerciseInputsContainer{
    @apply
    flex
    justify-evenly
}

.leftSideOfExerciseInputs{

}

.rightSideOfExerciseInputs{
}

.addAndSubtractButtons{

}

.subtractButton{
    @apply
    mr-8
}

.addButton{
    @apply
    m-4
}

.exerciseNumberInput, .exerciseNumberSelector{
    @apply
    mx-2
}