@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply
    bg-gray-600 /*TODO Remove*/
    p-3
}

.textInputsShort{
    @apply
    w-40
    rounded
    pl-2
    outline
    outline-2
    outline-slate-800
    block
    mt-4
}
.textInputsShort:last-child{
    @apply
    mb-2
}

.basicContainer{
    @apply
    px-4
    py-6
    mb-3
    bg-white
    shadow-md
    rounded
    outline
    outline-1
}

.basicContainer{
    max-width: 500px;
}

.overlay{
    position: absolute;
    max-width: 400px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    z-index: 999;
    background-color: #fff;
}

.listQuery{
    @apply
   block;
}

input{
    @apply
    rounded
    pl-1
    w-20
}

.pageTitle{
    @apply
    text-2xl
    drop-shadow-sm
    font-semibold
    /*TODO Change font family*/
}

.exerciseInputsContainer, .exerciseOptionsContainer, .basicSplitFlexContainer{
    @apply
    flex
    justify-evenly
}

.sessionDetailsContainer{
    @apply
    px-6
    flex
    justify-between
}

.leftSideOfExerciseInputs{

}

.rightSideOfExerciseInputs{

}

.addAndSubtractButtons{

}

.subtractButton{
    @apply
    mr-8
}

.addButton{
    @apply
    m-4
}

.exerciseNumberInput, .exerciseNumberSelector{
    @apply
    mx-2
}

.selectOrAddExercise{
    @apply
    w-40
}

.selectOrAddExerciseSelector{

}

.selectOrAddExerciseInput{

}

.selectOrAddExerciseFieldChangeButton{
    @apply
    ml-4
}

.exerciseHeading{
    display: block;
    text-align: center;
}

.exerciseHeading{
    @apply
    pb-2
    text-lg
    drop-shadow-sm
    font-semibold
}

.exerciseInputsTitles{
    text-align: center;
    display: block;
}

.setOptionContainer{
    text-align: center;
}

.headerContainer{
    @apply
    flex
    justify-between
    px-4
    py-4
}

h2{
    @apply
    pb-2
    text-lg
    drop-shadow-sm
    font-semibold
    block
}

h2{
    text-align: center;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1pt solid black;
}

.tableSessionDate{
    font-weight: 500;
    filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.2));
}

.tableSessionHeader{
    /*new font family*/

}