@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply
    bg-black
    text-slate-400
}

.textInputsShort {
    @apply
    w-40
    rounded
    pl-2
    outline
    outline-2
    outline-slate-800
    block
    mt-4
}
.textInputsShort:last-child{
    @apply
    mb-2
}

.overlay {
    position: absolute;
    max-width: 400px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    z-index: 999;
    background-color: #fff;
}